html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.input-control {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.country-name {
  text-align: center;
}

.about-country-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}
